.features__list {
    flex-wrap: wrap;

    @media screen and (min-width: $tabl) {
        display: flex;
        margin: -15px;
    }
}

.features__item {
    
    &:not(:last-child) {
        @media screen and (max-width: $pre-tabl) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width: $tabl) {
        margin: 15px;
        width: calc((100% - 2 * 30px) / 2)    
    }

    @media screen and (min-width: $desc) {
        margin: 15px;
        width: calc((100% - 4 * 30px) / 4)
    }
}

.features__inner {
    display: flex;
    align-items: center;
    border: none;
    height: 120px;
    background-color: #F5F4FA;
}

.features__icon {
    margin: 0 auto;
    fill: currentColor;
}

.features__title {
    margin-top: 30px;
    margin-bottom: 10px;
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}

.features__text {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}