.header {
    border: 1px solid #ECECEC;
}

.header__wrap {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.header__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-nav {
    display: flex;
}

.site-nav__item {
    position: relative;
}

.site-nav__item:not(:last-child) {
    margin-right: 50px;
}

.site-nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color var(--cubic-time);
}

.site-nav__link:hover,
.site-nav__link:focus {
    color: var(--accnent-color);
}

.site-nav__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accnent-color);
    opacity: 0;
    transition: opacity var(--cubic-time);
}

.site-nav__link:hover::after,
.site-nav__link:focus::after {
    opacity: 1;
}

.current::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accnent-color);
}

.site-nav__link.current {
    color: var(--accnent-color);
}

.aside {
    display: flex;
    margin-left: auto;
}

.aside__item:not(:last-child) {
    margin-right: 30px;
}

.aside__icon {
    fill: currentColor;
    margin-right: 10px;
}

.aside__link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding: 32px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color var(--cubic-time);
}

.aside__link:hover,
.aside__link:focus {
    color: var(--accnent-color);
}

